In [1]:
import pandas as pd
import numpy as np

In [2]:
salary = pd.read_csv('/Users/beatrizrenault/Documents/IH_DATA/WEEK 7/Hackaton/ilc_di03_1_Data.csv')
#countries = pd.read_csv('countries of the world.csv')
salary.drop(['INDIC_IL','UNIT','Flag and Footnotes'], axis=1,inplace = True)

In [3]:
salary_2 = salary.loc[(salary.AGE != 'Total') & (salary.SEX != 'Total')]
salary_2.dtypes
salary_2.Value = salary_2.Value.str.replace(',','')
salary_2.Value.replace({':': None},inplace =True)
salary_2

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/pandas/core/generic.py:5208: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/pandas/core/generic.py:6786: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

,TIME,GEO,AGE,SEX,Value
4,2016,European Union - 28 countries (2013-2020),Less than 18 years,Males,15642
5,2016,European Union - 28 countries (2013-2020),Less than 18 years,Females,15345
7,2016,European Union - 28 countries (2013-2020),From 18 to 24 years,Males,15739
8,2016,European Union - 28 countries (2013-2020),From 18 to 24 years,Females,15042
10,2016,European Union - 28 countries (2013-2020),From 25 to 49 years,Males,17486
...,...,...,...,...,...
1937,2018,Turkey,From 25 to 49 years,Females,None
1939,2018,Turkey,From 50 to 64 years,Males,None
1940,2018,Turkey,From 50 to 64 years,Females,None
1942,2018,Turkey,65 years or over,Males,None
1943,2018,Turkey,65 years or over,Females,None

In [4]:
salary_2.loc[(salary_2.GEO == 'Turkey') & (salary_2.TIME == 2018), 'Value'] = list(salary_2.loc[(salary_2.GEO == 'Turkey') & (salary_2.TIME == 2017), 'Value'])
salary_2.loc[(salary_2.GEO == 'Montenegro') & (salary_2.TIME == 2018), 'Value'] = list(salary_2.loc[(salary_2.GEO == 'Montenegro') & (salary_2.TIME == 2017), 'Value'])
salary_2.loc[(salary_2.GEO == 'Iceland') & (salary_2.TIME == 2018), 'Value'] = list(salary_2.loc[(salary_2.GEO == 'Iceland') & (salary_2.TIME == 2016), 'Value'])

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [5]:
salary_3 = salary_2.loc[salary_2.TIME == 2018, :]
salary_3.Value = salary_3.Value.astype(int)
salary_3.dtypes

TIME      int64
GEO      object
AGE      object
SEX      object
Value     int64
dtype: object

In [6]:
salary_3 = salary_3.loc[salary_3.GEO !='European Union - 28 countries (2013-2020)']
salary_3.loc[salary_3.GEO =='Germany (until 1990 former territory of the FRG)', 'GEO'] = 'Germany'
salary_3.drop('TIME', axis=1, inplace = True)

In [7]:
salary_3.columns = ['Country', 'Age Group', 'Gender', 'Yearly Wage(EUR)']

In [8]:
salary_3

      Country            Age Group   Gender  Yearly Wage(EUR)
1318  Belgium   Less than 18 years    Males             23242
1319  Belgium   Less than 18 years  Females             23644
1321  Belgium  From 18 to 24 years    Males             23550
1322  Belgium  From 18 to 24 years  Females             21783
1324  Belgium  From 25 to 49 years    Males             26423
...       ...                  ...      ...               ...
1937   Turkey  From 25 to 49 years  Females              4135
1939   Turkey  From 50 to 64 years    Males              4913
1940   Turkey  From 50 to 64 years  Females              4617
1942   Turkey     65 years or over    Males              4128
1943   Turkey     65 years or over  Females              3778

[350 rows x 4 columns]

In [135]:
salary_3.to_json('salaries.json')

In [146]:
salary_3.to_json('Salaries_WD.json',orient='records')

In [141]:
import json

#json.dumps(salary_3.to_dict(orient='list'))
#salary_3.to_dict(orient='dict')

{'Country': {1318: 'Belgium',
  1319: 'Belgium',
  1321: 'Belgium',
  1322: 'Belgium',
  1324: 'Belgium',
  1325: 'Belgium',
  1327: 'Belgium',
  1328: 'Belgium',
  1330: 'Belgium',
  1331: 'Belgium',
  1336: 'Bulgaria',
  1337: 'Bulgaria',
  1339: 'Bulgaria',
  1340: 'Bulgaria',
  1342: 'Bulgaria',
  1343: 'Bulgaria',
  1345: 'Bulgaria',
  1346: 'Bulgaria',
  1348: 'Bulgaria',
  1349: 'Bulgaria',
  1354: 'Czechia',
  1355: 'Czechia',
  1357: 'Czechia',
  1358: 'Czechia',
  1360: 'Czechia',
  1361: 'Czechia',
  1363: 'Czechia',
  1364: 'Czechia',
  1366: 'Czechia',
  1367: 'Czechia',
  1372: 'Denmark',
  1373: 'Denmark',
  1375: 'Denmark',
  1376: 'Denmark',
  1378: 'Denmark',
  1379: 'Denmark',
  1381: 'Denmark',
  1382: 'Denmark',
  1384: 'Denmark',
  1385: 'Denmark',
  1390: 'Germany',
  1391: 'Germany',
  1393: 'Germany',
  1394: 'Germany',
  1396: 'Germany',
  1397: 'Germany',
  1399: 'Germany',
  1400: 'Germany',
  1402: 'Germany',
  1403: 'Germany',
  1408: 'Estonia',
  1409: 'Estonia',
  1411: 'Estonia',
  1412: 'Estonia',
  1414: 'Estonia',
  1415: 'Estonia',
  1417: 'Estonia',
  1418: 'Estonia',
  1420: 'Estonia',
  1421: 'Estonia',
  1426: 'Ireland',
  1427: 'Ireland',
  1429: 'Ireland',
  1430: 'Ireland',
  1432: 'Ireland',
  1433: 'Ireland',
  1435: 'Ireland',
  1436: 'Ireland',
  1438: 'Ireland',
  1439: 'Ireland',
  1444: 'Greece',
  1445: 'Greece',
  1447: 'Greece',
  1448: 'Greece',
  1450: 'Greece',
  1451: 'Greece',
  1453: 'Greece',
  1454: 'Greece',
  1456: 'Greece',
  1457: 'Greece',
  1462: 'Spain',
  1463: 'Spain',
  1465: 'Spain',
  1466: 'Spain',
  1468: 'Spain',
  1469: 'Spain',
  1471: 'Spain',
  1472: 'Spain',
  1474: 'Spain',
  1475: 'Spain',
  1480: 'France',
  1481: 'France',
  1483: 'France',
  1484: 'France',
  1486: 'France',
  1487: 'France',
  1489: 'France',
  1490: 'France',
  1492: 'France',
  1493: 'France',
  1498: 'Croatia',
  1499: 'Croatia',
  1501: 'Croatia',
  1502: 'Croatia',
  1504: 'Croatia',
  1505: 'Croatia',
  1507: 'Croatia',
  1508: 'Croatia',
  1510: 'Croatia',
  1511: 'Croatia',
  1516: 'Italy',
  1517: 'Italy',
  1519: 'Italy',
  1520: 'Italy',
  1522: 'Italy',
  1523: 'Italy',
  1525: 'Italy',
  1526: 'Italy',
  1528: 'Italy',
  1529: 'Italy',
  1534: 'Cyprus',
  1535: 'Cyprus',
  1537: 'Cyprus',
  1538: 'Cyprus',
  1540: 'Cyprus',
  1541: 'Cyprus',
  1543: 'Cyprus',
  1544: 'Cyprus',
  1546: 'Cyprus',
  1547: 'Cyprus',
  1552: 'Latvia',
  1553: 'Latvia',
  1555: 'Latvia',
  1556: 'Latvia',
  1558: 'Latvia',
  1559: 'Latvia',
  1561: 'Latvia',
  1562: 'Latvia',
  1564: 'Latvia',
  1565: 'Latvia',
  1570: 'Lithuania',
  1571: 'Lithuania',
  1573: 'Lithuania',
  1574: 'Lithuania',
  1576: 'Lithuania',
  1577: 'Lithuania',
  1579: 'Lithuania',
  1580: 'Lithuania',
  1582: 'Lithuania',
  1583: 'Lithuania',
  1588: 'Luxembourg',
  1589: 'Luxembourg',
  1591: 'Luxembourg',
  1592: 'Luxembourg',
  1594: 'Luxembourg',
  1595: 'Luxembourg',
  1597: 'Luxembourg',
  1598: 'Luxembourg',
  1600: 'Luxembourg',
  1601: 'Luxembourg',
  1606: 'Hungary',
  1607: 'Hungary',
  1609: 'Hungary',
  1610: 'Hungary',
  1612: 'Hungary',
  1613: 'Hungary',
  1615: 'Hungary',
  1616: 'Hungary',
  1618: 'Hungary',
  1619: 'Hungary',
  1624: 'Malta',
  1625: 'Malta',
  1627: 'Malta',
  1628: 'Malta',
  1630: 'Malta',
  1631: 'Malta',
  1633: 'Malta',
  1634: 'Malta',
  1636: 'Malta',
  1637: 'Malta',
  1642: 'Netherlands',
  1643: 'Netherlands',
  1645: 'Netherlands',
  1646: 'Netherlands',
  1648: 'Netherlands',
  1649: 'Netherlands',
  1651: 'Netherlands',
  1652: 'Netherlands',
  1654: 'Netherlands',
  1655: 'Netherlands',
  1660: 'Austria',
  1661: 'Austria',
  1663: 'Austria',
  1664: 'Austria',
  1666: 'Austria',
  1667: 'Austria',
  1669: 'Austria',
  1670: 'Austria',
  1672: 'Austria',
  1673: 'Austria',
  1678: 'Poland',
  1679: 'Poland',
  1681: 'Poland',
  1682: 'Poland',
  1684: 'Poland',
  1685: 'Poland',
  1687: 'Poland',
  1688: 'Poland',
  1690: 'Poland',
  1691: 'Poland',
  1696: 'Portugal',
  1697: 'Portugal',
  1699: 'Portugal',
  1700: 'Portugal',
  1702: 'Portugal',
  1703: 'Portugal',
  1705: 'Portugal',
  1706: 'Portugal',
  1708: 'Portugal',
  1709: 'Portugal',
  1714: 'Romania',
  1715: 'Romania',
  1717: 'Romania',
  1718: 'Romania',
  1720: 'Romania',
  1721: 'Romania',
  1723: 'Romania',
  1724: 'Romania',
  1726: 'Romania',
  1727: 'Romania',
  1732: 'Slovenia',
  1733: 'Slovenia',
  1735: 'Slovenia',
  1736: 'Slovenia',
  1738: 'Slovenia',
  1739: 'Slovenia',
  1741: 'Slovenia',
  1742: 'Slovenia',
  1744: 'Slovenia',
  1745: 'Slovenia',
  1750: 'Slovakia',
  1751: 'Slovakia',
  1753: 'Slovakia',
  1754: 'Slovakia',
  1756: 'Slovakia',
  1757: 'Slovakia',
  1759: 'Slovakia',
  1760: 'Slovakia',
  1762: 'Slovakia',
  1763: 'Slovakia',
  1768: 'Finland',
  1769: 'Finland',
  1771: 'Finland',
  1772: 'Finland',
  1774: 'Finland',
  1775: 'Finland',
  1777: 'Finland',
  1778: 'Finland',
  1780: 'Finland',
  1781: 'Finland',
  1786: 'Sweden',
  1787: 'Sweden',
  1789: 'Sweden',
  1790: 'Sweden',
  1792: 'Sweden',
  1793: 'Sweden',
  1795: 'Sweden',
  1796: 'Sweden',
  1798: 'Sweden',
  1799: 'Sweden',
  1804: 'United Kingdom',
  1805: 'United Kingdom',
  1807: 'United Kingdom',
  1808: 'United Kingdom',
  1810: 'United Kingdom',
  1811: 'United Kingdom',
  1813: 'United Kingdom',
  1814: 'United Kingdom',
  1816: 'United Kingdom',
  1817: 'United Kingdom',
  1822: 'Iceland',
  1823: 'Iceland',
  1825: 'Iceland',
  1826: 'Iceland',
  1828: 'Iceland',
  1829: 'Iceland',
  1831: 'Iceland',
  1832: 'Iceland',
  1834: 'Iceland',
  1835: 'Iceland',
  1840: 'Norway',
  1841: 'Norway',
  1843: 'Norway',
  1844: 'Norway',
  1846: 'Norway',
  1847: 'Norway',
  1849: 'Norway',
  1850: 'Norway',
  1852: 'Norway',
  1853: 'Norway',
  1858: 'Switzerland',
  1859: 'Switzerland',
  1861: 'Switzerland',
  1862: 'Switzerland',
  1864: 'Switzerland',
  1865: 'Switzerland',
  1867: 'Switzerland',
  1868: 'Switzerland',
  1870: 'Switzerland',
  1871: 'Switzerland',
  1876: 'Montenegro',
  1877: 'Montenegro',
  1879: 'Montenegro',
  1880: 'Montenegro',
  1882: 'Montenegro',
  1883: 'Montenegro',
  1885: 'Montenegro',
  1886: 'Montenegro',
  1888: 'Montenegro',
  1889: 'Montenegro',
  1894: 'North Macedonia',
  1895: 'North Macedonia',
  1897: 'North Macedonia',
  1898: 'North Macedonia',
  1900: 'North Macedonia',
  1901: 'North Macedonia',
  1903: 'North Macedonia',
  1904: 'North Macedonia',
  1906: 'North Macedonia',
  1907: 'North Macedonia',
  1912: 'Serbia',
  1913: 'Serbia',
  1915: 'Serbia',
  1916: 'Serbia',
  1918: 'Serbia',
  1919: 'Serbia',
  1921: 'Serbia',
  1922: 'Serbia',
  1924: 'Serbia',
  1925: 'Serbia',
  1930: 'Turkey',
  1931: 'Turkey',
  1933: 'Turkey',
  1934: 'Turkey',
  1936: 'Turkey',
  1937: 'Turkey',
  1939: 'Turkey',
  1940: 'Turkey',
  1942: 'Turkey',
  1943: 'Turkey'},
 'Age Group': {1318: 'Less than 18 years',
  1319: 'Less than 18 years',
  1321: 'From 18 to 24 years',
  1322: 'From 18 to 24 years',
  1324: 'From 25 to 49 years',
  1325: 'From 25 to 49 years',
  1327: 'From 50 to 64 years',
  1328: 'From 50 to 64 years',
  1330: '65 years or over',
  1331: '65 years or over',
  1336: 'Less than 18 years',
  1337: 'Less than 18 years',
  1339: 'From 18 to 24 years',
  1340: 'From 18 to 24 years',
  1342: 'From 25 to 49 years',
  1343: 'From 25 to 49 years',
  1345: 'From 50 to 64 years',
  1346: 'From 50 to 64 years',
  1348: '65 years or over',
  1349: '65 years or over',
  1354: 'Less than 18 years',
  1355: 'Less than 18 years',
  1357: 'From 18 to 24 years',
  1358: 'From 18 to 24 years',
  1360: 'From 25 to 49 years',
  1361: 'From 25 to 49 years',
  1363: 'From 50 to 64 years',
  1364: 'From 50 to 64 years',
  1366: '65 years or over',
  1367: '65 years or over',
  1372: 'Less than 18 years',
  1373: 'Less than 18 years',
  1375: 'From 18 to 24 years',
  1376: 'From 18 to 24 years',
  1378: 'From 25 to 49 years',
  1379: 'From 25 to 49 years',
  1381: 'From 50 to 64 years',
  1382: 'From 50 to 64 years',
  1384: '65 years or over',
  1385: '65 years or over',
  1390: 'Less than 18 years',
  1391: 'Less than 18 years',
  1393: 'From 18 to 24 years',
  1394: 'From 18 to 24 years',
  1396: 'From 25 to 49 years',
  1397: 'From 25 to 49 years',
  1399: 'From 50 to 64 years',
  1400: 'From 50 to 64 years',
  1402: '65 years or over',
  1403: '65 years or over',
  1408: 'Less than 18 years',
  1409: 'Less than 18 years',
  1411: 'From 18 to 24 years',
  1412: 'From 18 to 24 years',
  1414: 'From 25 to 49 years',
  1415: 'From 25 to 49 years',
  1417: 'From 50 to 64 years',
  1418: 'From 50 to 64 years',
  1420: '65 years or over',
  1421: '65 years or over',
  1426: 'Less than 18 years',
  1427: 'Less than 18 years',
  1429: 'From 18 to 24 years',
  1430: 'From 18 to 24 years',
  1432: 'From 25 to 49 years',
  1433: 'From 25 to 49 years',
  1435: 'From 50 to 64 years',
  1436: 'From 50 to 64 years',
  1438: '65 years or over',
  1439: '65 years or over',
  1444: 'Less than 18 years',
  1445: 'Less than 18 years',
  1447: 'From 18 to 24 years',
  1448: 'From 18 to 24 years',
  1450: 'From 25 to 49 years',
  1451: 'From 25 to 49 years',
  1453: 'From 50 to 64 years',
  1454: 'From 50 to 64 years',
  1456: '65 years or over',
  1457: '65 years or over',
  1462: 'Less than 18 years',
  1463: 'Less than 18 years',
  1465: 'From 18 to 24 years',
  1466: 'From 18 to 24 years',
  1468: 'From 25 to 49 years',
  1469: 'From 25 to 49 years',
  1471: 'From 50 to 64 years',
  1472: 'From 50 to 64 years',
  1474: '65 years or over',
  1475: '65 years or over',
  1480: 'Less than 18 years',
  1481: 'Less than 18 years',
  1483: 'From 18 to 24 years',
  1484: 'From 18 to 24 years',
  1486: 'From 25 to 49 years',
  1487: 'From 25 to 49 years',
  1489: 'From 50 to 64 years',
  1490: 'From 50 to 64 years',
  1492: '65 years or over',
  1493: '65 years or over',
  1498: 'Less than 18 years',
  1499: 'Less than 18 years',
  1501: 'From 18 to 24 years',
  1502: 'From 18 to 24 years',
  1504: 'From 25 to 49 years',
  1505: 'From 25 to 49 years',
  1507: 'From 50 to 64 years',
  1508: 'From 50 to 64 years',
  1510: '65 years or over',
  1511: '65 years or over',
  1516: 'Less than 18 years',
  1517: 'Less than 18 years',
  1519: 'From 18 to 24 years',
  1520: 'From 18 to 24 years',
  1522: 'From 25 to 49 years',
  1523: 'From 25 to 49 years',
  1525: 'From 50 to 64 years',
  1526: 'From 50 to 64 years',
  1528: '65 years or over',
  1529: '65 years or over',
  1534: 'Less than 18 years',
  1535: 'Less than 18 years',
  1537: 'From 18 to 24 years',
  1538: 'From 18 to 24 years',
  1540: 'From 25 to 49 years',
  1541: 'From 25 to 49 years',
  1543: 'From 50 to 64 years',
  1544: 'From 50 to 64 years',
  1546: '65 years or over',
  1547: '65 years or over',
  1552: 'Less than 18 years',
  1553: 'Less than 18 years',
  1555: 'From 18 to 24 years',
  1556: 'From 18 to 24 years',
  1558: 'From 25 to 49 years',
  1559: 'From 25 to 49 years',
  1561: 'From 50 to 64 years',
  1562: 'From 50 to 64 years',
  1564: '65 years or over',
  1565: '65 years or over',
  1570: 'Less than 18 years',
  1571: 'Less than 18 years',
  1573: 'From 18 to 24 years',
  1574: 'From 18 to 24 years',
  1576: 'From 25 to 49 years',
  1577: 'From 25 to 49 years',
  1579: 'From 50 to 64 years',
  1580: 'From 50 to 64 years',
  1582: '65 years or over',
  1583: '65 years or over',
  1588: 'Less than 18 years',
  1589: 'Less than 18 years',
  1591: 'From 18 to 24 years',
  1592: 'From 18 to 24 years',
  1594: 'From 25 to 49 years',
  1595: 'From 25 to 49 years',
  1597: 'From 50 to 64 years',
  1598: 'From 50 to 64 years',
  1600: '65 years or over',
  1601: '65 years or over',
  1606: 'Less than 18 years',
  1607: 'Less than 18 years',
  1609: 'From 18 to 24 years',
  1610: 'From 18 to 24 years',
  1612: 'From 25 to 49 years',
  1613: 'From 25 to 49 years',
  1615: 'From 50 to 64 years',
  1616: 'From 50 to 64 years',
  1618: '65 years or over',
  1619: '65 years or over',
  1624: 'Less than 18 years',
  1625: 'Less than 18 years',
  1627: 'From 18 to 24 years',
  1628: 'From 18 to 24 years',
  1630: 'From 25 to 49 years',
  1631: 'From 25 to 49 years',
  1633: 'From 50 to 64 years',
  1634: 'From 50 to 64 years',
  1636: '65 years or over',
  1637: '65 years or over',
  1642: 'Less than 18 years',
  1643: 'Less than 18 years',
  1645: 'From 18 to 24 years',
  1646: 'From 18 to 24 years',
  1648: 'From 25 to 49 years',
  1649: 'From 25 to 49 years',
  1651: 'From 50 to 64 years',
  1652: 'From 50 to 64 years',
  1654: '65 years or over',
  1655: '65 years or over',
  1660: 'Less than 18 years',
  1661: 'Less than 18 years',
  1663: 'From 18 to 24 years',
  1664: 'From 18 to 24 years',
  1666: 'From 25 to 49 years',
  1667: 'From 25 to 49 years',
  1669: 'From 50 to 64 years',
  1670: 'From 50 to 64 years',
  1672: '65 years or over',
  1673: '65 years or over',
  1678: 'Less than 18 years',
  1679: 'Less than 18 years',
  1681: 'From 18 to 24 years',
  1682: 'From 18 to 24 years',
  1684: 'From 25 to 49 years',
  1685: 'From 25 to 49 years',
  1687: 'From 50 to 64 years',
  1688: 'From 50 to 64 years',
  1690: '65 years or over',
  1691: '65 years or over',
  1696: 'Less than 18 years',
  1697: 'Less than 18 years',
  1699: 'From 18 to 24 years',
  1700: 'From 18 to 24 years',
  1702: 'From 25 to 49 years',
  1703: 'From 25 to 49 years',
  1705: 'From 50 to 64 years',
  1706: 'From 50 to 64 years',
  1708: '65 years or over',
  1709: '65 years or over',
  1714: 'Less than 18 years',
  1715: 'Less than 18 years',
  1717: 'From 18 to 24 years',
  1718: 'From 18 to 24 years',
  1720: 'From 25 to 49 years',
  1721: 'From 25 to 49 years',
  1723: 'From 50 to 64 years',
  1724: 'From 50 to 64 years',
  1726: '65 years or over',
  1727: '65 years or over',
  1732: 'Less than 18 years',
  1733: 'Less than 18 years',
  1735: 'From 18 to 24 years',
  1736: 'From 18 to 24 years',
  1738: 'From 25 to 49 years',
  1739: 'From 25 to 49 years',
  1741: 'From 50 to 64 years',
  1742: 'From 50 to 64 years',
  1744: '65 years or over',
  1745: '65 years or over',
  1750: 'Less than 18 years',
  1751: 'Less than 18 years',
  1753: 'From 18 to 24 years',
  1754: 'From 18 to 24 years',
  1756: 'From 25 to 49 years',
  1757: 'From 25 to 49 years',
  1759: 'From 50 to 64 years',
  1760: 'From 50 to 64 years',
  1762: '65 years or over',
  1763: '65 years or over',
  1768: 'Less than 18 years',
  1769: 'Less than 18 years',
  1771: 'From 18 to 24 years',
  1772: 'From 18 to 24 years',
  1774: 'From 25 to 49 years',
  1775: 'From 25 to 49 years',
  1777: 'From 50 to 64 years',
  1778: 'From 50 to 64 years',
  1780: '65 years or over',
  1781: '65 years or over',
  1786: 'Less than 18 years',
  1787: 'Less than 18 years',
  1789: 'From 18 to 24 years',
  1790: 'From 18 to 24 years',
  1792: 'From 25 to 49 years',
  1793: 'From 25 to 49 years',
  1795: 'From 50 to 64 years',
  1796: 'From 50 to 64 years',
  1798: '65 years or over',
  1799: '65 years or over',
  1804: 'Less than 18 years',
  1805: 'Less than 18 years',
  1807: 'From 18 to 24 years',
  1808: 'From 18 to 24 years',
  1810: 'From 25 to 49 years',
  1811: 'From 25 to 49 years',
  1813: 'From 50 to 64 years',
  1814: 'From 50 to 64 years',
  1816: '65 years or over',
  1817: '65 years or over',
  1822: 'Less than 18 years',
  1823: 'Less than 18 years',
  1825: 'From 18 to 24 years',
  1826: 'From 18 to 24 years',
  1828: 'From 25 to 49 years',
  1829: 'From 25 to 49 years',
  1831: 'From 50 to 64 years',
  1832: 'From 50 to 64 years',
  1834: '65 years or over',
  1835: '65 years or over',
  1840: 'Less than 18 years',
  1841: 'Less than 18 years',
  1843: 'From 18 to 24 years',
  1844: 'From 18 to 24 years',
  1846: 'From 25 to 49 years',
  1847: 'From 25 to 49 years',
  1849: 'From 50 to 64 years',
  1850: 'From 50 to 64 years',
  1852: '65 years or over',
  1853: '65 years or over',
  1858: 'Less than 18 years',
  1859: 'Less than 18 years',
  1861: 'From 18 to 24 years',
  1862: 'From 18 to 24 years',
  1864: 'From 25 to 49 years',
  1865: 'From 25 to 49 years',
  1867: 'From 50 to 64 years',
  1868: 'From 50 to 64 years',
  1870: '65 years or over',
  1871: '65 years or over',
  1876: 'Less than 18 years',
  1877: 'Less than 18 years',
  1879: 'From 18 to 24 years',
  1880: 'From 18 to 24 years',
  1882: 'From 25 to 49 years',
  1883: 'From 25 to 49 years',
  1885: 'From 50 to 64 years',
  1886: 'From 50 to 64 years',
  1888: '65 years or over',
  1889: '65 years or over',
  1894: 'Less than 18 years',
  1895: 'Less than 18 years',
  1897: 'From 18 to 24 years',
  1898: 'From 18 to 24 years',
  1900: 'From 25 to 49 years',
  1901: 'From 25 to 49 years',
  1903: 'From 50 to 64 years',
  1904: 'From 50 to 64 years',
  1906: '65 years or over',
  1907: '65 years or over',
  1912: 'Less than 18 years',
  1913: 'Less than 18 years',
  1915: 'From 18 to 24 years',
  1916: 'From 18 to 24 years',
  1918: 'From 25 to 49 years',
  1919: 'From 25 to 49 years',
  1921: 'From 50 to 64 years',
  1922: 'From 50 to 64 years',
  1924: '65 years or over',
  1925: '65 years or over',
  1930: 'Less than 18 years',
  1931: 'Less than 18 years',
  1933: 'From 18 to 24 years',
  1934: 'From 18 to 24 years',
  1936: 'From 25 to 49 years',
  1937: 'From 25 to 49 years',
  1939: 'From 50 to 64 years',
  1940: 'From 50 to 64 years',
  1942: '65 years or over',
  1943: '65 years or over'},
 'Gender': {1318: 'Males',
  1319: 'Females',
  1321: 'Males',
  1322: 'Females',
  1324: 'Males',
  1325: 'Females',
  1327: 'Males',
  1328: 'Females',
  1330: 'Males',
  1331: 'Females',
  1336: 'Males',
  1337: 'Females',
  1339: 'Males',
  1340: 'Females',
  1342: 'Males',
  1343: 'Females',
  1345: 'Males',
  1346: 'Females',
  1348: 'Males',
  1349: 'Females',
  1354: 'Males',
  1355: 'Females',
  1357: 'Males',
  1358: 'Females',
  1360: 'Males',
  1361: 'Females',
  1363: 'Males',
  1364: 'Females',
  1366: 'Males',
  1367: 'Females',
  1372: 'Males',
  1373: 'Females',
  1375: 'Males',
  1376: 'Females',
  1378: 'Males',
  1379: 'Females',
  1381: 'Males',
  1382: 'Females',
  1384: 'Males',
  1385: 'Females',
  1390: 'Males',
  1391: 'Females',
  1393: 'Males',
  1394: 'Females',
  1396: 'Males',
  1397: 'Females',
  1399: 'Males',
  1400: 'Females',
  1402: 'Males',
  1403: 'Females',
  1408: 'Males',
  1409: 'Females',
  1411: 'Males',
  1412: 'Females',
  1414: 'Males',
  1415: 'Females',
  1417: 'Males',
  1418: 'Females',
  1420: 'Males',
  1421: 'Females',
  1426: 'Males',
  1427: 'Females',
  1429: 'Males',
  1430: 'Females',
  1432: 'Males',
  1433: 'Females',
  1435: 'Males',
  1436: 'Females',
  1438: 'Males',
  1439: 'Females',
  1444: 'Males',
  1445: 'Females',
  1447: 'Males',
  1448: 'Females',
  1450: 'Males',
  1451: 'Females',
  1453: 'Males',
  1454: 'Females',
  1456: 'Males',
  1457: 'Females',
  1462: 'Males',
  1463: 'Females',
  1465: 'Males',
  1466: 'Females',
  1468: 'Males',
  1469: 'Females',
  1471: 'Males',
  1472: 'Females',
  1474: 'Males',
  1475: 'Females',
  1480: 'Males',
  1481: 'Females',
  1483: 'Males',
  1484: 'Females',
  1486: 'Males',
  1487: 'Females',
  1489: 'Males',
  1490: 'Females',
  1492: 'Males',
  1493: 'Females',
  1498: 'Males',
  1499: 'Females',
  1501: 'Males',
  1502: 'Females',
  1504: 'Males',
  1505: 'Females',
  1507: 'Males',
  1508: 'Females',
  1510: 'Males',
  1511: 'Females',
  1516: 'Males',
  1517: 'Females',
  1519: 'Males',
  1520: 'Females',
  1522: 'Males',
  1523: 'Females',
  1525: 'Males',
  1526: 'Females',
  1528: 'Males',
  1529: 'Females',
  1534: 'Males',
  1535: 'Females',
  1537: 'Males',
  1538: 'Females',
  1540: 'Males',
  1541: 'Females',
  1543: 'Males',
  1544: 'Females',
  1546: 'Males',
  1547: 'Females',
  1552: 'Males',
  1553: 'Females',
  1555: 'Males',
  1556: 'Females',
  1558: 'Males',
  1559: 'Females',
  1561: 'Males',
  1562: 'Females',
  1564: 'Males',
  1565: 'Females',
  1570: 'Males',